<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brsons">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".models.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".models.ResetPasswordActivity" />
        <activity android:name=".models.ImageViewActivity"
            android:label="Jewellery Images"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".models.ImageUploadActivity"
            android:label="Upload Jewellery Images"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".models.EnquiredUserActivity"
            android:label="Enquired Users"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".models.RateActivity"
            android:label="Gold and Silver Rates"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".models.SliderImageActivity"
            android:label="Slider Images"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".models.ImageUpdateActivity"
            android:label="Update Images"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".models.EnquiryFormActivity"/>
        <activity
            android:name=".models.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".models.MainActivity"
            android:label="Homepage"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>